a, h1, legend {
	color: 	#660066;
	text-decoration: none;
}

a:hover {
	font-weight: bold;	
}

.active{
	font-weight: bold;	
	color: 	#660066;
}

body{
	margin-left: 10%;
	margin-right: 10%;	
}

#buttons {
	text-align: center;
}

div.button span, #prev, #next{
	cursor: pointer; 
}

#buttons p, #buttons div, header h1, #user {
	display: inline;
}

#buttons p, #buttons div{
	padding: 10px;
}

footer, #buttons{
	margin-top: 50px;
}

footer p{
	padding: 2% 5% 1% 5%;	
}

form {
	margin-top: 10%;
	margin-bottom: 10%;	
}

fieldset {
	padding: 5%;	
}

legend {
	font-size: 35px;	
}

header, footer{
	background-color: #E0B2F0;	
	border: 1px solid #660066;
	color: #660066;
}

header {
	margin-bottom: 60px;
	padding: 10px;
	padding-right: 0px;
}

header h1 {
	font-size: 60px;
	padding-left: 5%;
	color: white;	
}

.hidden {
	display: none;
}

#logo{
	margin-top: 0px;
	float: left;
	height: 70px;
	padding: 10px;
	padding-left: 30px;
	border: 2px solid white;
	border-top-right-radius: 45px;
	border-bottom-right-radius: 45px;
	background-color: white;
}

#logininfo {
	text-align:right;
}

.post {
	background-color: #E0B2F0;
	margin-top: 30px;
	border: 1px solid #660066;
	border-radius: 10px;
	overflow: hidden;
}

.quote {
	clear: both;
	background-color: white;
	margin: 5px;
	margin-left: 20px;
	padding: 5px;
	padding-left: 20px;
	border-radius: 10px;
}

.date, .author {
	padding-left: 20px;
	float: left;
}

#signup {
	padding-right: 30px;
	text-decoration: underline;	
}

ul#userinfo {
	list-style-type:none;
	padding: 0px 20px 5px 20px;;
	background-color: #E0B2F0;
}

header #user{
	float: right;
}

#user span {
	padding: 0px 20px 5px 20px;
	vertical-align: bottom;
}

